.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;

  @media (max-width: 800px) {
    width: 35px;
    height: 35px;
  }

  @media (max-width: 500px) {
    width: 25px;
    height: 25px;
  }

  .menu{
    @extend %fullspace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.5s;

    &-line {
      width: 100%;
      height: 5px;
      background-color: $color-primary;
      transition: all 0.5s 0.5s;
      transform-origin: right;

      @media (max-width: 800px) {
        
        height: 3px;
      }
      @media (max-width: 500px) {
        
        height: 2px;
      }
    }

  }
}










.logo {
  @include flexlayout;
  font-size: 100px;
  color: $color-primary;
  width: 130px;
  height: 130px;
  margin-right: 20px;
  border: 3px solid $color-primary;
  border-radius: 50%;

  @media (max-width: 1000px) {
    font-size: 60px;   
    width: 90px;
  height: 90px;
  }

  @media (max-width: 600px) {
    font-size: 50px;   
    width: 70px;
  height: 70px;
  }

  @media (max-width: 500px) {
    font-size: 40px;   
    width: 50px;
  height: 50px;
  }
}

.main-name {
  font-family: $font-sahel;
  font-size: 80px;
  color: $color-secondary;
  @include textstyle;

  @media (max-width: 1100px) {
    font-size: 40px;
  }
  @media (max-width: 800px) {
    font-size: 35px;
  }
  @media (max-width: 600px) {
    font-size: 25px;
  }
  @media (max-width: 520px) {
    font-size: 18px;
  }
}

.sub-name {
  font-family: $font-sahel;
  font-size: 60px;
  color: $color-secondary;
  text-align: center;
  @include textstyle;

  @media (max-width: 1000px) {
    font-size: 35px;
  }

  @media (max-width: 800px) {
    font-size: 30px;
  }
  @media (max-width: 650px) {
    font-size: 20px;
  }
  @media (max-width: 500px) {
    font-size: 10px;
  }
}

.main-heading {
  font-family: $font-nastaliq;
  font-size: 100px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 40px;

  @media (max-width: 1600px) {
    font-size: 80px;
  }

  @media (max-width: 1000) {
    font-size: 60px;
  }

  @media (max-width: 500) {
    font-size: 40px;
    margin-bottom: 20px;
  }


}

.sub-heading {
  font-family: $font-sahel;
  font-size: 60px;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 80px;

  @media (max-width: 1600px) {
    font-size: 50px;
    margin-bottom: 50px;
  }

  @media (max-width: 1000px) {
    font-size: 25px;
  }

  @media (max-width: 500px) {
    font-size: 18px;
  }

}

.main-btn {
  width: 170px;
  height: 70px;
  font-family: $font-sahel;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
  @media (max-width: 800px) {
    width: 150px;
    height: 35px;
    font-size: 12px;
  }

  @media (max-width: 500px) {
    width: 130px;
    height: 30px;
    font-size: 10px;
  }

}

.card {
  width: 33.3%;
  height: 30vw;
  position: relative;
  overflow: hidden;

  &:hover .card-overlay {
    left: 0;
  }

  &-overlay {
    @extend %fullspace;
    @include flexlayout;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    color: white;
    background-color: rgba($color-primary, 0.6);
    z-index: 20;
    transition: left 0.5s;

    &-heading {
      font-family: $font-nastaliq;
      font-size: 70px;
      @include textstyle;

      @media (max-width: 900px) {
        font-size: 35px;
      }
      @media (max-width: 600px) {
        font-size: 25px;
      }
      @media (max-width: 500px) {
        display: none;;
      }
    }

    &-paragraph {
      font-family: $font-sahel;
      font-size: 30px;
      margin-bottom: 30px;
      @include textstyle;

      @media (max-width: 900px) {
        font-size: 20px;
      }

      @media (max-width: 600px) {
        font-size: 15px;
      }

      @media (max-width: 500px) {
        font-size: 10px;
      }
    }

    &-btn {
        width: 150px;
        height: 40px;
        color: $color-primary;
        background-color: white;
        font-family: $font-sahel;
        font-size: 15px;
        border: 1px solid $color-primary;
        border-radius: 30px;
        cursor: pointer;

        @media (max-width: 900px) {
          font-size: 12px;
          width: 130px;
          height: 30px;
        }
        @media (max-width: 600px) {
          font-size: 10px;
          width: 100px;
          height: 30px;
        }
        @media (max-width: 500px) {
          font-size: 10px;
          width: 90px;
        }
    }
  }

  &-img {
    @extend %fullspace;
    object-fit: cover;
    opacity: 0.5;
  }
}



.main-foot {
  font-size: 50px;
  font-family: $font-sahel;
  color: $color-secondary;
}

.sub-foot {
  font-size: 20px;
  color: $color-secondary;
  margin-left: 100px;
}

